<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="alert alert-success">
	  <strong>Student <%=@student.full_name%> Grading Details</strong>
  </div>
	<div class="form-group">
		<table class="table table-hover">
			<thead>
     		<tr>
       	<th>Category Name</th>
       	<th>Total Marks</th>
        <th>Marks On Scale 1-10</th>
      </tr>
    	</thead>
			<tbody>
			<%sum =0%>
				<%@gradings.each do |s|%>
      	<tr>
       	<td><%=s.name%></td>
      	<td>10</td>
      	<td><%=s.number%></td>
      	<%sum+=s.number%>
      	</tr>
			<%end%>
    </tbody>
  </table>
  <h4>Total Number of categories judged <%=@gradings.count%> </h4>
  <h4>Total Number of Marks Obtained <%=sum%> </h4>
  <h4>Marks Calculated in total marks Ten <%=sum/@gradings.count%> </h4>
	</div>
</div>
