<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 class="page-header"> Welcome To Dashboard</h1>
	<div class="alert alert-success">
    	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    	<%if flash[:message]%>
    	<strong><%=flash[:message]%></strong>
    	<%else%>
    	<strong>Enter Category Name to add Category</strong>
    	<%end%>
  </div>
	<div class="form-group">
		<table class="table table-hover">
		<thead>
     <tr>
       <th>Category Name</th>
        <th>Marks On Scale 1-10</th>
        <th>Submit</th>
      </tr>
    </thead>
		<tbody>
			<%@categories.each do |s|%>
      <tr>

	<%=form_for @grading, url: student_gradings_path(@student.id), html:{:role=>"form"} do |f|%>
        <td><%=f.text_field :name, :class=>"form_control", :readonly=>true, :value=>s.name%></td>
      	<td><%=f.text_field :number, :class=>"form_control"%></td>
      	<td><%=f.submit("Submit", :class=>"btn btn-primary")%></td>
      
   		<%end%>
      </tr>
	<%end%>
    </tbody>
  </table>
</div>
</div>
