<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 class="page-header"> Welcome To Dashboard</h1>
	<div class="form-group">
	<%=form_for @judge, url: {:action=>"create"}, html:{:role=>"form"} do |f|%>
		<label for="email">Email Address:</label>
		<div class="form-group">
		<%=f.text_field :email, :class=>"form_control", :id=>"email"%>
		</div>
		<label for="pwd">Password:</label>
		<div class="form-group">
		<%=f.text_field :encrypted_password, :class=>"form_control", :id=>"pwd"%>
		</div>
		<label for="pwd">Address:</label>
		<div class="form-group">
		<%=f.text_field :address, :class=>"form_control"%>
		</div>
		<label for="pwd">Phone No.</label>
		<div class="form-group">
		<%=f.text_field :phone_number, :class=>"form_control"%>
		</div>
		<label for="pwd">Upload Picture</label>
		<div class="form-group">
		<%=f.file_field :image, :class=>"form_control"%>
		</div>
		<div class="form-group">
		<%=f.submit("Submit", :class=>"btn btn-primary")%>
		</div>
	<%end%>
</div>
</div>
