<!DOCTYPE html>
<html>
<head>
  <title>Rating</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%if current_user.role=="admin"%>
	<%=render "ratings/dashboard_header"%>
	<%else%>
	<%=render "ratings/judge_dashboard"%>
	<%end%>
	<%= yield %>
</body>
</html>
